@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.dm-sans-100 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.dm-sans-200 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.dm-sans-300 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.dm-sans-400 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-500 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans-600 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dm-sans-650 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
}

.dm-sans-700 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dm-sans-800 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.dm-sans-900 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.dm-sans-1000 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}
